gem/local_settings.py
gem/__pycache__/
gemcore/__pycache__/
gemcore/management/__pycache__/
gemcore/management/commands/__pycache__/
gemcore/migrations/__pycache__/
gemcore/tests/__pycache__/
other_migrations/__pycache__/
other_migrations/*/__pycache__/
env/
