Django<1.10
defusedxml
dj-database-url
dj-static
django-allauth
-e git+https://github.com/greyside/django-bitfield.git#egg=django-bitfield
django-countries
-e git+https://github.com/sophilabs/django-qurl-templatetag.git#egg=django-qurl-templatetag
django-taggit
django-templatetag-sugar
django-toolbelt
flake8
gunicorn
ipython
mccabe
oauthlib
psycopg2
python3-openid
requests
requests-oauthlib
six
static3
