<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ form.source.label }} Balance</h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'balance' book.slug %}" method="POST" role="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {{ form.source.as_field_group }}
                </div>
                <div class="col-xs-6 col-sm-3">
                    {{ form.start.as_field_group }}
                </div>
                <div class="col-xs-6 col-sm-3">
                    {{ form.end.as_field_group }}
                </div>
                <div class="col-xs-12 col-sm-2 vspace-10">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-sm {{ btnclass }}"
                                name="get-{{ form.source.label.lower }}-balance">Get</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
