    <div class="text-center">
    <ul class="pagination pagination-sm">

        {% if when_prev %}
        <li><a href="{% querystring when=when_prev %}">previous day &laquo;</a></li>
        {% endif %}

        {% if entries.has_previous %}
        {% if page_start > 1 %}
        <li><a href="{% querystring page=1 %}">&laquo;</a></li>
        {% endif %}
        <li><a href="{% querystring page=entries.previous_page_number %}">&lsaquo;</a></li>
        {% endif %}
        {% for p in page_range %}
        <li{% if entries.number == p %} class="active"{% endif %}>
            <a href="{% querystring page=p %}">{{ p }}</a>
        </li>
        {% endfor %}
        {% if entries.has_next %}
        <li><a href="{% querystring page=entries.next_page_number %}">&rsaquo;</a></li>
        {% if page_end < entries.paginator.num_pages %}
        <li><a href="{% querystring page=entries.paginator.num_pages %}">&raquo;</a></li>
        {% endif %}
        {% endif %}

        {% if when_next %}
        <li><a href="{% querystring when=when_next %}">&raquo; next day</a></li>
        {% endif %}

    </ul>
    </div>
