    <div class="form-group{% if field.errors %} has-error{% endif %} {{ extra_class }}">
        {% if field.use_fieldset %}
        <fieldset>
            {% if field.label %}
            <legend{% if sronly %} class="sr-only"{% endif %}>{{ field.label }}</legend>
            {% endif %}
        {% else %}
            {% if field.label %}
            <label for="{{ field.auto_id }}"{% if sronly %} class="sr-only"{% endif %}>
                {{ field.label }}
            </label>
            {% endif %}
        {% endif %}

        {{ field }}

        {% if field.help_text %}
        <div class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>
            {{ field.help_text|safe }}
        </div>
        {% endif %}

        {{ field.errors }}

        {% if field.use_fieldset %}
        </fieldset>
        {% endif %}
    </div>
