{% extends 'base.html' %}
{% load static %}
{% load qurl %}

{% block head-extra %}
    <script src="{% static 'js/add-entry.js' %}"></script>
{% endblock head-extra %}

{% block content %}

<h1>Balances for {{ book }}</h1>

<div class="row">
    <div class="col-md-7">
        {% if balance %}
        <h3>From {{ balance.complete.start|date }} to {{ balance.complete.end|date }}</h3>
        {% include 'gemcore/_balance_result.html' %}
        {% else %}
        <h3>No entries.</h3>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h3>New Balance</h3>
        {% include 'gemcore/_balance_form.html' with form=account_balance_form btnclass='btn-primary' %}
        {% include 'gemcore/_balance_form.html' with form=currency_balance_form btnclass='btn-default' %}
    </div>
</div>
{% endblock content %}
