{% extends 'base.html' %}

{% block content %}

{% for book in books %}
<div class="row">
    <h2>
        <a href="{% url 'entries' book.slug %}">{{ book }}</a>
        ({% for u in book.users.all %}{{ u }}{% if not forloop.last %}, {% endif %}{% endfor %})
    </h2>
    <div class="col-md-8">
        Recent entries:
        <ul>
            {% for entry in book.latest_entries %}
            <li><a href="{% url 'entry' book.slug entry.id %}">{{ entry }}</a></li>
            {% empty %}
            <li>No entries for this book yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <a href="{% url 'add-entry' book.slug %}" class="btn btn-primary">
                Add entry</a>
            <a href="{% url 'load-from-file' book.slug 'expense' %}" class="btn btn-default">
                Load from file</a>
        </div>
    </div>
{% empty %}
    <h2>No books in the system yet.</h2>
{% endfor %}
</div>

<div class="row">
    <div class="btn-group">
        <a href="{% url 'add-book' %}" class="btn btn-default">Add Book</a>
    </div>
</div>

{% endblock content %}
