{% extends 'base.html' %}

{% block content %}

{% for book in books %}
    <h2>
        <a href="{% url 'entries' book.slug %}">{{ book }}</a>
        ({% for u in book.users.all %}{{ u }}{% if not forloop.last %}, {% endif %}{% endfor %})
    </h2>
    <div>
        Recent entries:
        <ul>
            {% for entry in book.latest_entries %}
            <li><a href="{% url 'entry' book.slug entry.id %}">{{ entry }}</a></li>
            {% empty %}
            <li>No entries for this book yet.</li>
            {% endfor %}
        </ul>
        <div class="btn-group">
            <a href="{% url 'add-entry' book.slug %}" class="btn btn-xs btn-primary">
                Add entry</a>
            <a href="{% url 'load-from-file' book.slug %}" class="btn btn-xs btn-default">
                Load from file</a>
            <a href="{% url 'book' book.slug %}" class="btn btn-xs btn-default">
                Edit book</a>
            <a href="{% url 'remove-book' book.slug %}" class="btn btn-xs btn-default">
                Remove book</a>
        </div>
    </div>
{% empty %}
    <p>No books in the system yet.</p>
{% endfor %}

<div class="pull-right btn-group">
    <a href="{% url 'add-book' %}" class="btn btn-primary">Add Book</a>
</div>

{% endblock content %}
