{% extends 'base.html' %}

{% block content %}
{% for book in books %}
    <h2>
        <a href="{% url 'expenses' book.slug %}">{{ book }}</a>
        ({% for u in book.users.all %}{{ u }}{% if not forloop.last %}, {% endif %}{% endfor %})
    </h2>
    <div>
        Recent expenses:
        <ul>
            {% for expense in book.latest_expenses %}
            <li><a href="{% url 'expense' book.slug expense.id %}">{{ expense }}</a></li>
            {% empty %}
            <li>No expenses for this book yet.</li>
            {% endfor %}
        </ul>
        <div class="btn-group">
            <a href="{% url 'add-expense' book.slug %}" class="btn btn-xs btn-primary">
                Add expense</a>
            <a href="{% url 'book' book.slug %}" class="btn btn-xs btn-default">
                Edit book</a>
            <a href="{% url 'remove-book' book.slug %}" class="btn btn-xs btn-default">
                Remove book</a>
        </div>
    </div>
{% empty %}
    <p>No books in the system yet.</p>
{% endfor %}

<div class="pull-right btn-group">
    <a href="{% url 'add-book' %}" class="btn btn-primary">Add Book</a>
</div>

{% endblock content %}
