{% extends 'base.html' %}
{% load qurl %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}" />
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/add-entry.js' %}"></script>
{% endblock head-extra %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% for tag in used_tags %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path tag-=tag %}">{{ tag }} &times;</a>
    </div>
    {% endfor %}
    {% if when %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path when-=when %}">{{ when|date }} &times;</a>
    </div>
    {% endif %}
    {% if year %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path year-=year %}">{{ year }} &times;</a>
    </div>
    {% endif %}
    {% if month %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path month-=month %}">{{ month_label }} &times;</a>
    </div>
    {% endif %}
    {% if who %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path who-=who %}">{{ who }} &times;</a>
    </div>
    {% endif %}
    {% if country %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path country-=country %}">{{ country }} &times;</a>
    </div>
    {% endif %}
    {% if account %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path account-=account %}">{{ account }} &times;</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <div class="row">
        <h3>Filters</h3>
        <p>{% for tag, i in tags.items %}
            <a class="btn btn-xs btn-info" href="{% qurl request.get_full_path tag+=tag %}">
                {{ tag }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}</p>
        <p>{% for k, label in months.items %}
            {% ifnotequal k month %}
            <a class="btn btn-xs btn-warning" href="{% qurl request.get_full_path month=k %}">
                {{ label }}
            </a>
            {% endifnotequal %}
        {% endfor %}</p>
        <p>{% for k, i in years.items %}
            {% ifnotequal k year %}
            <a class="btn btn-xs btn-warning" href="{% qurl request.get_full_path year=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
            {% endifnotequal %}
        {% endfor %}</p>
        <p>{% for k, i in countries.items %}
            <a class="btn btn-xs btn-success" href="{% qurl request.get_full_path country=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}</p>
        <p>{% for k, i in users.items %}
            <a class="btn btn-xs btn-success" href="{% qurl request.get_full_path who=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}</p>
    </div>

    <div class="row">
        <form id="entry-form-search" class="form-horizontal" method="GET" action=".">
            <div class="col-xs-5 has-feedback">
                <input type="text" class="form-control input-sm" name="q" autofocus="on" 
                       id="search-text" placeholder="Search"
                       {% if q %}value="{{ q }}"{% endif %} />
                <span style="cursor: pointer;" id="clear-search-text"
                      class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="col-xs-5 has-feedback">
                <input type="date" class="form-control input-sm datepicker" name="when"
                       id="search-date" placeholder="When"
                       {% if when %}value="{{ when|date }}"{% endif %} />
                <span style="cursor: pointer;" id="clear-search-date"
                      class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-sm btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <h3>Balances</h3>
        <div class="col-md-12">
        {% include 'gemcore/_balance_form.html' with form=account_balance_form btnclass='btn-default' %}
        {% include 'gemcore/_balance_form.html' with form=currency_balance_form btnclass='btn-default' %}
        </div>
    </div>

    <div class="row">
        {% include 'gemcore/_book_actions.html' %}
    </div>

  </div>

<!---------------------------------------------------------------------------->

  <div class="col-md-8">
    {% include 'gemcore/_entries_paginator.html' %}
    {% if entries %}
    <table id="entries-list" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>When</th>
                <th>Who</th>
                <th>What</th>
                <th>$$$</th>
                <th>From</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>
                    <a href="{% qurl request.get_full_path when=entry.when %}">{{ entry.when|date }}</a>
                </td>
                <td>{{ entry.who.username|slice:"3" }}</td>
                <td>
                    <a href="{% url 'entry' book.slug entry.id %}">{{ entry.what }}</a>
                </td>
                <td class="text-right {% if not entry.is_income %}expense{% endif %}">
                    {% if entry.is_income %}+{% else %}-{% endif %} {{ entry.amount }}
                </td>
                <td>
                    <a href="{% qurl request.get_full_path account=entry.account.slug %}">{{ entry.account }}</a>
                </td>
                <td>
                    {{ entry.country }}<br/>
                    {% for t, is_set in entry.tags %}
                    {% if is_set %}{{ t }}<br/>{% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'gemcore/_entries_paginator.html' %}
    {% else %}
    <p>No entries in the system.</dp>
    {% endif %}
  </div>

</div>

<script>
$("#clear-search-text").click(function(evt) {
    evt.preventDefault();
    $("#search-text").val("").focus();
});
$("#clear-search-date").click(function(evt) {
    evt.preventDefault();
    $("#search-date").val("").focus();
});
</script>

{% endblock content %}
