{% extends 'base.html' %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}" />
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('input.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true
            });

            function strip(str){
                return str.replace(/^\s+|\s+$/g, '');
            }
            
            $('.tags a').click(function() {
                var value = $(this).text();
                var input = $('#id_tags');
                var current = strip(input.val());
                if (current.length > 0 && current[current.length - 1] != ','){
                    current = current + ','
                }
                value = strip(value);
                input.val(current + value + ',');
                return false;
            });

        });
    </script>
{% endblock head-extra %}

{% block navbar-title %}
    <a class="navbar-brand" href="{% url 'entries' book.slug %}">{{ book }}</a>
{% endblock navbar-title %}

{% block content %}

<div class="row add-entry">

<form action="." method="POST" class="form-inline" role="form">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for field in form %}
    {% ifnotequal field.name 'is_income' %}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
        <label for="{{ field.auto_id }}" class="sr-only">
        {{ field.label }}
        {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
        {% if field.errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback"
              title="{{ field.errors.0 }}"></span>
        {% endif %}
        {{ field }}
    </div>
    {% endifnotequal %}
    {% endfor %}

    <div class="form-group tags">
        {% for tag in all_tags %}
        <a class="tag-vspace-5 btn btn-sm btn-info" href="#">
            <strong>{{ tag }}</strong>
        </a>
        {% endfor %}
    </div>

    <div class="form-group">Income? {{ form.is_income }}</div>

    <div class="btn-group">
        {% if entry %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'remove-entry' book.slug entry.id %}" class="btn btn-default">Remove</a>
        {% else %}
        <button type="submit" class="btn btn-primary">Add</button>
        {% endif %}
    </div>
</form>

</div>

{% endblock content %}
