{% extends 'base.html' %}
{% load qurl %}
{% load static %}

{% block navbar-title %}
    <a class="navbar-brand" href="{% url 'entries' book.slug %}">{{ book }}</a>
{% endblock navbar-title %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% for tag in used_tags %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path tag-=tag %}">{{ tag }} &times;</a>
    </div>
    {% endfor %}
    {% if year %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path year-=year %}">{{ year }} &times;</a>
    </div>
    {% endif %}
    {% if month %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path month-=month %}">{{ month }} &times;</a>
    </div>
    {% endif %}
    {% if who %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path who-=who %}">{{ who }} &times;</a>
    </div>
    {% endif %}
    {% if country %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path country-=country %}">{{ country }} &times;</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <div class="row-vspace-10">
        <p>
        {% for tag, i in tags.items %}
            <a class="btn btn-xs btn-info" href="{% qurl request.get_full_path tag+=tag %}">
                {{ tag }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}
        </p>
        <p>
        {% for k in months %}
            {% ifnotequal k month %}
            <a class="btn btn-xs btn-warning" href="{% qurl request.get_full_path month=k %}">
                {{ k }}
            </a>
            {% endifnotequal %}
        {% endfor %}
        </p>
        <p>
        {% for k, i in years.items %}
            {% ifnotequal k year %}
            <a class="btn btn-xs btn-warning" href="{% qurl request.get_full_path year=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
            {% endifnotequal %}
        {% endfor %}
        </p>
        <p>
        {% for k, i in countries.items %}
            <a class="btn btn-xs btn-success" href="{% qurl request.get_full_path country=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}
        </p>
        <p>
        {% for k, i in users.items %}
            <a class="btn btn-xs btn-success" href="{% qurl request.get_full_path who=k %}">
                {{ k }} <span class="badge">{{ i }}</span>
            </a>
        {% endfor %}
        </p>
    </div>

    <form class="form-inline row-vspace-10" role="search" method="GET" action=".">
        <div class="input-group input-group-sm">
            <input id="search" type="text" class="form-control" name="q" placeholder="Search"
             {% if q %}value="{{ q }}"{% endif %} />
            <span id="search-clear" class="input-group-addon">
                <a id="clear" href="#"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </form>

    <div class="btn-group btn-group-sm row-vspace-10">
        <a href="{% url 'add-entry' book.slug %}" class="btn btn-primary">
            Add entry</a>
        <a href="{% url 'load-from-file' book.slug %}" class="btn btn-default">
            Load from file</a>
    </div>

  </div>
  <div class="col-md-8">

    <div class="text-center">
    <ul class="pagination pagination-sm">
        {% if entries.has_previous %}
        {% if start > 1 %}
        <li><a href="{% qurl request.get_full_path page=1 %}">&laquo;</a></li>
        {% endif %}
        <li><a href="{% qurl request.get_full_path page=entries.previous_page_number %}">&lsaquo;</a></li>
        {% endif %}
        {% for p in page_range %}
        <li{% ifequal entries.number p %} class="active"{% endifequal %}>
            <a href="{% qurl request.get_full_path page=p %}">{{ p }}</a>
        </li>
        {% endfor %}
        {% if entries.has_next %}
        <li><a href="{% qurl request.get_full_path page=entries.next_page_number %}">&rsaquo;</a></li>
        {% if end < entries.paginator.num_pages %}
        <li><a href="{% qurl request.get_full_path page=entries.paginator.num_pages %}">&raquo;</a></li>
        {% endif %}
        {% endif %}
    </ul>
    </div>

    {% if entries %}
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>When</th>
                <th>Who</th>
                <th>What</th>
                <th>$$$</th>
                <th>From</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr onclick="window.document.location='{% url 'entry' book.slug entry.id %}'">
                <td>{{ entry.when|date:"d-b" }}</td>
                <td>{{ entry.who.username|slice:"3" }}</td>
                <td>{{ entry.what }}</td>
                <td class="text-right {% if not entry.is_income %}expense{% endif %}">
                    {% if entry.is_income %}+{% else %}-{% endif %} {{ entry.amount }}
                </td>
                <td class="{% if not entry.is_income %}expense{% endif %}">
                    {{ entry.account }}</td>
                <td>
                    {{ entry.country }}<br/>
                    {% for t, is_set in entry.flags %}
                    {% if is_set %}{{ t }}<br/>{% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No entries in the system.</dp>
    {% endif %}

  </div>
</div>

<script>
$("#clear").click(function(evt){
    evt.preventDefault();
    $("#search").val("").focus();
});
</script>

{% endblock content %}
