{% extends 'base.html' %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}" />
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('input.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
{% endblock head-extra %}

{% block navbar-title %}
    <a class="navbar-brand" href="{% url 'entries' book.slug %}">{{ book }}</a>
{% endblock navbar-title %}

{% block content %}

<h1>{% if entry %}Edit{% else %}New{% endif %} entry</h1>

<div class="add-entry">

<form action="." method="POST" class="form-inline" role="form">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}

    {% for field in form %}
    {% ifnotequal field.name 'is_income' %}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
        <label for="{{ field.auto_id }}" class="sr-only">
        {{ field.label }}
        {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
        {% if field.errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {{ field }}
    </div>
    {% endifnotequal %}
    {% endfor %}

    <div class="form-group">Income? {{ form.is_income }}</div>

    <div class="btn-group">
        {% if entry %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'remove-entry' book.slug entry.id %}" class="btn btn-default">Remove</a>
        {% else %}
        <button type="submit" class="btn btn-primary">Add</button>
        {% endif %}
    </div>
</form>

</div>

<div>
{% include 'gemcore/_show_tags.html' %}
</div>

{% endblock content %}
