{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<h1>Add a expense</h1>
<form action="." method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <div class="btn-group">
        <input type="submit" class="btn btn-primary" value="Add">
    </div>
</form>

{% endblock content %}
