{% extends 'base.html' %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}" />
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('input.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
{% endblock head-extra %}


{% block content %}

<h1>{% if expense %}Edit{% else %}Add a{% endif %} expense on {{ book }}</h1>
<form action="." method="POST"  class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.who.label_tag }} {{ form.who }} {{ form.when }}
    </div>
    <div class="form-group">
        {{ form.what.label_tag }} {{ form.what }} {{ form.amount }} {{ form.currency }}
    </div>
    <div class="form-group">
        {{ form.tags.label_tag }} {{ form.tags }}
    </div>
    <div class="btn-group">
        {% if expense %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'remove-expense' book.slug expense.id %}" class="btn btn-default">Remove</a>
        {% else %}
        <button type="submit" class="btn btn-primary">Add</button>
        {% endif %}
    </div>
</form>

{% endblock content %}
