{% extends 'base.html' %}
{% load qurl %}

{% block content %}

<h1>Expenses for {{ book.name }}
    {% for tag in used_tags %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path tag-=tag %}">{{ tag }} &times;</a>
    </div>
    {% endfor %}
    {% if year %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path year-=year %}">{{ year }} &times;</a>
    </div>
    {% endif %}
    {% if month %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path month-=month %}">{{ month }} &times;</a>
    </div>
    {% endif %}
    {% if who %}
    <div class="btn-group">
        <a class="btn btn-xs btn-info close" href="{% qurl request.get_full_path who-=who %}">{{ who }} &times;</a>
    </div>
    {% endif %}
</h1>

{% if expenses %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>When</th>
            <th>Who</th>
            <th>What</th>
            <th>$</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr class="{% cycle 'info' 'default' %}">
            <td>{{ expense.when }}</td>
            <td>{{ expense.who }}</td>
            <td>{{ expense.what }}</td>
            <td>{{ expense.amount }} {{ expense.currency }}</td>
            <td>{% for n in expense.tags.names %}{{ n }}<br/>{% endfor %}</td>
            <td>
                <a href="{% url 'edit-expense' book.slug expense.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No expenses in the system.</p>
{% endif %}

<div class="pull-left">
<p>
{% for tag, i in all_tags.items %}
    <a class="btn btn-xs btn-info" href="{% qurl request.get_full_path tag+=tag %}">
        {{ tag }} <span class="badge">{{ i }}</span>
    </a>
{% endfor %}
</p>
<p>
{% for k, i in all_years.items %}
    {% ifnotequal k year %}
    <a class="btn btn-xs btn-warning" href="{% qurl request.get_full_path year+=k %}">
        {{ k }} <span class="badge">{{ i }}</span>
    </a>
    {% endifnotequal %}
{% endfor %}
</p>
<p>
{% for k, i in all_users.items %}
    {% ifnotequal k who %}
    <a class="btn btn-xs btn-success" href="{% qurl request.get_full_path who+=k %}">
        {{ k }} <span class="badge">{{ i }}</span>
    </a>
    {% endifnotequal %}
{% endfor %}
</p>
</div>

<div class="pull-right btn-group">
    <a href="{% url 'add-expense' book.slug %}" class="btn btn-primary">Add expense</a>
</div>

{% endblock content %}
