{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{% if expense %}Edit{% else %}Add a{% endif %} expense on {{ book }}</h1>
<form action="." method="POST"  class="form-horizontal" role="form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <div class="btn-group">
        {% if expense %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'remove-expense' book.slug expense.id %}" class="btn btn-default">Remove</a>
        {% else %}
        <button type="submit" class="btn btn-primary">Add</button>
        {% endif %}
    </div>
</form>

{% endblock content %}
