{% extends 'base.html' %}

{% block content %}
<h1>Your books</h1>
{% for book in books %}
    <h2>{{ book }}</h2>
    <div>
        <ul>
            {% for expense in book.expense_set.all %}
            <li>{{ expense }}</li>
            {% empty %}
            <li>No expenses for this book yet.</li>
            {% endfor %}
        </ul>
        <div class="btn-group">
            <a href="{% url 'add-expense' book.id %}" class="btn btn-xs btn-primary">Add Expense</a>
            <a href="{% url 'edit-book' book.id %}" class="btn btn-xs btn-default">Edit</a>
            <a href="{% url 'remove-book' book.id %}" class="btn btn-xs btn-warning">Remove</a>
        </div>
    </div>
{% empty %}
    <p>No books in the system yet.</p>
{% endfor %}

<div class="pull-right btn-group">
    <a href="{% url 'add-book' %}" class="btn btn-primary">Add Book</a>
</div>

{% endblock content %}
