{% extends 'base.html' %}
{% load qurl %}

{% block content %}

<h1>Are you sure you want to merge these entries?</h1>

New entry will be: <p>{{ merge_dry_run }}</p>

<form action="{% if book %}{% url 'merge-entry' book.slug %}?{{ qs }}{% endif %}" method="POST">
    {% csrf_token %}
    <ul>
    {% for entry in entries %}
        <li>{{ entry }}<input type="hidden" name="entry" value="{{ entry.id }}"/></li>
    {% endfor %}
    </ul>
    <div class="text-center">
        <button type="submit" class="btn btn-default" name="yes">Yes, merge</button>
        <button type="submit" class="btn btn-primary" name="no">No!</button>
    </div>
</form>

{% endblock content %}
