.add-entry {
    padding-bottom: 10px;
}

.add-entry .datepicker {
    width: 7em;
}

.table {
    width: auto;
}

.table .expense {
    color: red;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: light-grey;
    cursor: pointer;
}

#search-clear {
    background: white;
    border-left: none;
}

.row-vspace-10 {
    margin-top: 10px;
}


#id_flags {
    list-style: none outside none;
}

#id_flags > li {
    margin-top: 5px;
    display: inline-block;
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
