{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block html-title %}cgem{% endblock html-title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head-extra %}{% endblock head-extra %}
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'books' %}">cgem</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_email' %}"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container">

        <div class="span12">
            {% for message in messages %}
                <div id="messages" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block content %}

        {% endblock content %}

    </div> <!-- /container -->

    <div id="footer">
    {% block footer %}{% endblock footer %}
    </div>

</body>
</html>
